.new-post-form
  margin: 1cm 1cm 1cm 1cm
  width: 15cm
  background-color: white
  display: flex
  flex-direction: row
  align-items: flex-end

.new-post-input
  height: 1.5cm
  width: 100%
  border: 1px solid grey
  border-right: 1px none
  padding: 0 10px 0 10px
  word-wrap: break-word
  word-break: break-all
  text-align: start
  font-family: 'Poppins', sans-serif

.new-post-button
  height: 100%
  width: 130px
  border: 1px solid grey
  border-radius: 0%
  font-family: 'Poppins', sans-serif
  cursor: pointer
