.post
  margin: 0.5cm 0.4cm 0.3cm 0.4cm
  width: 7cm
  border: 1px solid white
  border-radius: 10px
  background-color: white
  padding: 10px
  display: flex
  flex-direction: column
  cursor: pointer

.post-new
  margin: 0.5cm 0.4cm 0.3cm 0.4cm
  border: 1px solid white
  border-radius: 10px
  background-color: white
  width: 5cm
  padding: 10px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  font-size: 1.5cm
  cursor: pointer

.post-moved
  border: 1px solid grey

.post-author
  font-size: 18px
  font-weight: bold

.post-date
  font-size: 13px
  color: grey

.post-title
  margin-top: 0.5cm
  margin-bottom: 0.25cm
  font-size: 0.4cm
  font-weight: bold
  display: flex

.post-description
  margin-top: 0.5cm
  margin-bottom: 0.25cm
  font-size: 0.37cm
  display: flex

@media ( max-width: 17cm )
  .post-new
    width: 8cm
